__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
build/
dist/
data/
checkpoints/*
!checkpoints/week02_fixed_window.pt
!checkpoints/week02_char_lstm.pt
!checkpoints/week02_char_lstm.json
!checkpoints/week02_char_rnn.pt
!checkpoints/week02_char_rnn.json
.venv/
.DS_Store
!checkpoints/week02_word_lstm.pt
!checkpoints/week02_word_lstm.json
!checkpoints/week02_char_lstm512.pt
!checkpoints/week02_char_lstm512.json
